body {
  padding: 0px;
  margin: 0px;
}
#container {
  padding: 20px;
}

#menu-list {
  list-style: none;
  display: flex;
}

.list {
  margin: 10px;
  font-size: 20px;
  font-family: "Supermercado One", cursive;
  font-weight: bold;
}

.list:hover {
  text-decoration: underline;
  color: rgba(162, 21, 197, 0.938);
  cursor: pointer;
}

#box {
  -webkit-box-shadow: 4px 4px 7px 1px #9416FA; 
box-shadow: 4px 4px 7px 1px #9416FA;
}

#contact {
  padding: 40px;
}

#img {
  width: 50%;
  float: left;
}

#resim {
  width: 75%;
  margin-left: 90px;
  margin-top: 50px;
  border-radius: 40% 12%;
  -webkit-box-shadow: 4px 4px 7px 1px #9416FA;
  box-shadow: 4px 4px 7px 1px #9416FA;
}

#info {
  width: 50%;
  float: right;
  padding-top: 20px;
}

#titel {
  text-align: center;
  font-size: 40px;
}

#uitleggen {
  margin-top: 50px;
  font-size: 20px;
}

#btn {
  padding: 8px 24px;
  border: none;
  color: #2b2828f1;
  background-color: rgba(216, 49, 49, 0.897);
  font-size: 15px;
  font-family: "Akaya Telivigala", cursive;
}

#btnContainer {
  display: flex;
  justify-content: center;
}

#btn:hover {
  cursor: pointer;
  background-color: #2b2828f1;
  color: rgba(216, 49, 49, 0.897);
  transition: 1s;
}

#subMenu {
  clear: both;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.subMenuItem {
  padding: 20px;
  margin: 20px;
  text-align: center;
  -webkit-box-shadow: -1px -1px 15px -2px #9416FA;
  box-shadow: -1px -1px 15px -2px #9416FA;
}

.subMenuImg {
  width: 50%;
  -webkit-box-shadow: -1px -1px 15px -2px #9416FA;
  box-shadow: -1px -1px 15px -2px #9416FA;
  border-radius: 20%;
}

.subMenuTitel {
  color: #444444;
  font-family: "Akaya Telivigala", cursive;
  font-size: 30px;
  background: #ffffff;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
}

.subMenuParagraf {
  font-family: "Akaya Telivigala", cursive;
}

.subMenuBtn {
  padding: 8px 24px;
  border: none;
  color: #2b2828f1;
  background-color: rgba(216, 49, 49, 0.897);
  font-size: 15px;
  font-family: "Akaya Telivigala", cursive;
}

.subMenuBtn:hover {
  cursor: pointer;
  background-color: #2b2828f1;
  color: rgba(216, 49, 49, 0.897);
  transition: 1s;
}

#formTable{
  padding: 70px;
}

#formContainer{
width: 50%;
float: left;
}

#tabloContainer{
  float: right;
  padding-bottom: 35px;
  margin-bottom: 30px;
  }

.infoBox{
display: flex;
margin-bottom: 15px;

}

.infolabel{
width: 35%;
}

.infoInput{
  width: 65%;
  border: 1px solid #2b2828f1;
  border-radius: 5px;
  background-color: rgba(60, 138, 190, 0.897);
}

#submitBtn{
  width: 65%;
  float: right;
  padding: 8px 24px;
  border: none;
  color: #2b2828f1;
  background-color: rgba(216, 49, 49, 0.897);
  font-size: 15px;
  font-family: "Akaya Telivigala", cursive;
  margin-bottom: 15px;
  border-radius: 5px;
}
 #submitBtn:hover{
  cursor: pointer;
  background-color: #2b2828f1;
  color: rgba(216, 49, 49, 0.897);
  transition: 1s;
 }

 #personalList{
  width: 90%;
  border-collapse: collapse;
 }

 table,thead,tbody,tr,td,th{
   border: 1px solid rgba(0, 0, 0, 0.900);
 }

 #footer{
  
    text-align: center;
    float: right; 
    bottom: 0;
    width: 100%;
    background-color: #9416FA;
    color: white; 
 }

 #footer-list{
  list-style: none;
  display: flex;

 }

.liste{
  margin: 0px 7px;
  color: rgba(57, 57, 57, 0.95);
 
}

.fa-brands{
  margin: 0px 7px;  
 color: rgb(224, 224, 224);
 
}

#logo{
  list-style: none;
  display: flex;
}

.liste:hover{
  text-decoration: underline;
  color: rgba(75, 75, 75, 0.920);
  cursor: pointer;
}

.fa-brands:hover{
  color: white ;
  cursor: pointer;
  transition: 1s;
}

#logoDiv{
  float: right;
  padding: 0px 15px;
  margin: 0px 7px;
}

#footerList{
  float: left;
}

#Allehak{
  font-size: 17px;
  font-family: "Akaya Telivigala", cursive;
}
